

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1c1c1e;
    color: #f5f5f7;
    transition: all 0.3s ease-in-out; /* Transição suave */
    margin: 0;
    padding: 0;
    overflow: auto; /* Permitir rolagem */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
  }

header {
    background-color: #3333;
    color: white;
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 100;
    transition: background 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Adiciona a sombra */

  }
  
  header.scrolled{
    background-color: #000 ; 
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Logo */
  .logo {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
  }
  
  .logo span {
    color: #19457A;
    font-size: 1.9rem; /* Cor de destaque */
  }
  
  /* Navegação */
  nav {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #19457A;
  }
  
  /* Botão de chamada para ação */
  .cta {
    text-decoration: none;
    background: #19457A;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 700;
    margin-left: 20px;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .cta:hover {
    background: white;
    color: #333;
  }

.home-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./imgs/fundo.jpg);    
    background-position: center;
    background-size: cover; /* Garante que a imagem cubra toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-attachment: fixed; /* Efeito de paralaxe (a imagem de fundo fica fixa ao rolar) */
    margin: 0;
    padding: 0;
    transition: background 0.3s ease;
}

.home-section h1{
    color: #000;
    font-size: 3em;
}

.home-section p{
    color: #000;
    font-size: 1.3em;
}


.about-section {
    padding: 4vw ;
    background-color: #232324; 
    text-align: center;
    position: relative;
    height: 100vh;
    
}

.about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #19457A; /* Cor de destaque para o título */
    position: relative;
    display: inline-block;
}

.about-section h2::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: #122c4d;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
}

.about-section p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 0 20px;
    color: #ccc;
}
.about-section p a{
    font-size: 1.2rem;
    line-height: 1.6;
    color: #1e60af;
    transition: color 0.3s;
}

.about-section p a:hover{
    color: #19457A;
}


/* Estilos para adicionar uma imagem e barra lateral, se desejado */
.about-section .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.about-section .about-content img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #19457A;
}

.about-section .about-content p {
    text-align: left;
    padding: 20px;
    background-color: #1c1c1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.projects-section{
    margin-left: 20px;
    height: 100vh;
}

.project-grid {
    display: flex; /* Organiza os itens lado a lado */
    flex-wrap: wrap; /* Permite quebrar para a próxima linha se o espaço acabar */
    gap: 20px; /* Espaço entre os itens */
    justify-content: space-evenly; /* Distribui o espaço uniformemente entre os cartões */

}

.project-card {
    flex: 1 1 calc(33.33% - 20px); /* Faz com que cada cartão ocupe 1/3 da largura */
    max-width: 300px; /* Evita que os cartões fiquem muito largos */
    background-color: #2c2c2e;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    transition: transform 0.3s ease;
}







.carousel {
    position: relative;
    width: 100%;
    overflow: hidden; /* Esconde as imagens fora da área visível */
    border-radius: 10px;
  }
  
  .carousel-images {
    display: flex; /* Alinha as imagens lado a lado */
    transition: transform 0.5s ease-in-out; /* Suaviza o movimento */
  }
  
  .carousel-images img {
    width: 100%; /* As imagens ocupam todo o espaço disponível */
    flex-shrink: 0; /* Mantém o tamanho original das imagens */
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  
  .prev-btn:hover,
  .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  











.project-card:hover {
    transform: scale(1.05);
}

.btn {
    display: flex;
    padding: 10px 20px;
    background-color: #19457A;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    justify-content: center;
}

.btn:hover {
    background-color: #122c4d;
}


.diploma-section{
    margin-left: 20px;
    height: 100vh;
}

.diploma-section h2{
    font-size: 2rem;
}


.diploma-grid {
    display: flex; /* Organiza os itens lado a lado */
    flex-wrap: wrap; /* Permite quebrar para a próxima linha se o espaço acabar */
    gap: 20px; /* Espaço entre os itens */
    justify-content: space-evenly; /* Distribui o espaço uniformemente entre os cartões */
}


.diploma-card {
    flex: 1 1 calc(33.33% - 20px); /* Faz com que cada cartão ocupe 1/3 da largura */
    max-width: 450px; /* Evita que os cartões fiquem muito largos */
    background-color: #2c2c2e;
    padding: 20px;
    border-radius: 10px;
    width: 20vw;
    transition: transform 0.3s ease;
    
}

.dpl-tec{
    width: 21vw;
}


.dpl-ingles{
    width: 12vw;
    display: block; /* Faz a imagem se comportar como um bloco */
    margin: 0 auto;
}

.dpl-sql{
    width: 21vw;
    display: block; /* Faz a imagem se comportar como um bloco */
    margin: 0 auto;
}

.diploma-card:hover {
    transform: scale(1.05);
}



.contact-section {
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
    padding: 40px 20px; /* Espaçamento interno */
    gap: 20px; /* Espaço entre os itens */
}

.contact-section h2 {
    margin: 0;
    font-size: 2rem;
    color: #fff;
}

.contact-section p {
    margin: 0;
    font-size: 1.2rem;
    color: #555;
}

.contact-section div {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente os ícones */
    gap: 15px; /* Espaço entre os ícones */
}

.social-chanel img {
    width: 12vw; /* Define tamanho dos ícones proporcional à largura da tela */
    max-width: 100px; /* Limita o tamanho máximo */
    transition: transform 0.3s ease; /* Adiciona um efeito de interação */
}

.social-chanel img:hover {
    transform: scale(1.1); /* Aumenta ligeiramente o tamanho ao passar o mouse */
}


footer {
    background-color: #121212;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.social-icons a {
    color: #f5f5f7;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #19457A;
}

/* Responsividade para mobile */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .menu-toggle.active + .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .about-section .about-content {
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
    }
    
    .about-section p {
        font-size: 1.1rem;
    }

}